/* estilos main    */
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
}

html{
    height: 100vh;
    /* border: 1px solid black; */
}

body{
    height: 100%;
    /* border: 1px solid red; */
}

header{
    height: 10%;
}

.prueba{
    height: 85%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    /* border: 1px solid red; */
    /* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); */
}

.fas{
    text-decoration: none;
    color: #09203f;
}

.fas:hover{
    color: #000;
}

aside{
    /* width: auto; */
    position: absolute;
    z-index: 2;
}

#bars{
    position: absolute;
    z-index: 999;
    left: 0;
}

.lista_menu{
    list-style-type: none;
    /* font-size: 1.2rem; */
   
}



.lista_menu a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.lista_menu li:hover{
    background-color:#f8c838;
    
}

.lista_menu li:hover a{
    color:#000;
    
}

/* numero ganador */
.input_number{
    width: 9.5rem;
    height: 9.5rem;
    box-shadow:5px 5px 8px 5px rgba(3, 3, 3, .3);
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}



footer{
    height: 5%;
}


@media (max-width: 575px){
    
    /* aside{
        width: 60%;
        
    } */

   th, td{
       font-size: .9rem;
   }

   .table-xs{
       width:200px ;
   }

    .justify-content-xs-center{
        
        justify-content: center;
    }

    .d-xs-logo{
       width: 30%;
    }

    .d-xs{
        width: 70%;
     }

    .input_number{
        width: 4rem;
        height: 4rem;
    }

    }

    @media (min-width: 576px) and (max-width: 767px){
        .input_number{
            width: 6rem;
            height: 6rem;
        }
    }
