*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.carousel img{
    max-height: 600px;
    object-fit: cover;
}

footer{
    height: 100%;
}

/* estilos del login  */
#bg-img{
   
    height: 100vh;
    background-image: url(/imgs/bglogisignup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.container-login{
    background-color: rgba(35,47,62,.7);
    /* height: 50vh; */
    box-shadow: 1px 6px 6px 3px rgba(35,47,62,.8);
    font-weight: 300;
    
}

.container-login input{
    border: none;
    outline: none;
}

.container-login a{
    text-decoration: none;
}



/* estilos del signup */

@media screen and (max-width: 480px) {
    .img-media {
        width: 50px;
        height: 25px;
    }
  }


/* estilos main    */
.prueba{
    height: 85vh;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);

}

aside{
    position: absolute;
    z-index: 2;
}

#bars{
    position: absolute;
    z-index: 999;
    left: 0;
}

.lista_menu{
    list-style-type: none;
    font-size: 1.2rem;
   
}

.lista_menu a{
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.lista_menu li:hover{
    background-color:#f8c838;
    
}

.lista_menu li:hover a{
    color:#000;
    
}

/* #footer_main{
    height: auto;
   
} */



