*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.carousel img{
    max-height: 600px;
    object-fit: cover;
}

footer{
    height: 50vh;
}

/* estilos del login  */
#bg-img{
   
    height: 100vh;
    background-image: url(/imgs/bglogisignup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.container-login{
    background-color: rgba(35,47,62,.7);
    /* height: 50vh; */
    box-shadow: 1px 6px 6px 3px rgba(35,47,62,.8);
    font-weight: 300;
    
}

.container-login input{
    border: none;
    outline: none;
}

.container-login a{
    text-decoration: none;
}



/* estilos del signup */

@media screen and (max-width: 480px) {
    .img-media {
        width: 50px;
        height: 25px;
    }
  }



